.cart {
  margin: 8px;
  width: 450px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 16px;

  &__details {
    color: black;
    font-size: 24px;
  }

  &__footer {
    margin-top: 16px;
    padding: 4px 0;
    border-top: 1px solid lightgray;
  }

  &__total {
    color: #B12704;
  }
}