<div class="sorting">
    <form [formGroup]="form">
        Sort products by
        <select formControlName="order">
            <option [ngValue]="order" *ngFor="let order of orders">{{order.name}}</option>
        </select>
    </form>
</div>

<ng-container *ngFor="let product of (products$ | async | orderBy:sortOrder)">
    <div class="product">
        <div class="product__name">{{product.name | titlecase}}</div>
        <span class="product__details">
            Price: <span class="product__price">{{product.price | currency}}</span>;&nbsp;&nbsp;
            <span class="product__quantity">(only {{product.quantity}} pieces available)</span>
        </span>
        <button class="product__btn" (click)="showDetails(product.id)">Details</button>
        <button class="product__btn" (click)="onBuy(product)">Buy</button>
    </div>
</ng-container>