<div class="product" [ngClass]="{ 'product--disabled': !isAvailable}">
    <div class="product__name">{{product.name | titlecase}}</div>
    <div class="product__category">{{ product.category | uppercase }}</div>
    <div class="product__description">{{product.description}}</div>
    <span class="product__quantity">
        Available: {{product.quantity}}
    </span>
    <span class="product__price">
        Price: <span class="product__price-value">{{product.price | currency}}</span>
    </span>
    <button class="product__btn" (click)="onBuy()" [disabled]="!isAvailable">Buy</button>
</div>